/*
Soft Black	#24221F
Dark 				#363F45
Med					#4B5F6D
Light 			#5E7C88
Yellowish		#FEB41C



*/
body {
	background-color: black;
	color: white;
	font-family: arial;
}

button {
	background-color: #5E7C88;
}

body h1 {
	text-align: center;
}

.box {
	border: 1px solid black;
	display: block;
	font-size: 40px;
	float: left;
	height: 40px;
	text-align: center;
	width: 40px;
}

.free {
	background-color: white;
}

.free:hover {
	background-color: #FEB41C;
}

.taken {
	background-color: #5E7C88;
}

#menu-container {
}

#main-container {
	margin: auto;
	width: 448px;
	display: none;
}

#board-container {
	float: left;
	margin: auto;
	width: 126px;
}

#scoreboard {
	background-color: #363F45;
	border: 1px solid #5E7C88;
	color: #FEB41C;
	float: left;
	height: 100px;
	margin-left: 20px;
	padding: 10px;
	width: 280px;
}

#status-bar {
	color: #FEB41C;
	font-size: 1.25em;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 100%;
}

#reset-button {
	margin-left: 20px;
	margin-top: 5px;
}

#new-game-button {
	margin-top: 5px;
}